<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Description of Permissions for NSLocationAlwaysAndWhenInUseUsageDescription</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Description of Permissions for NSLocationAlwaysUsageDescription</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Description of Permissions for NSLocationWhenInUseUsageDescription</string>
	<key>NSMotionUsageDescription</key>
	<string>Description of Permissions for NSMotionUsageDescription</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Description of Permissions for NSUserNotificationsUsageDescription</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.kooling.Prototype</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
